<script src="../public/app.js"></script>

<div class="jumbotron">
    {{!-- <h1>Welcome to NPR News Made Simple!</h1> --}}
</div>

<div id="wrapper">
    <h1>Check out the latest news from NPR!</h1>
    <h4>Click on an article to leave a note!</h4>
    <div id="articles"></div>
    <div id="notes"></div>
</div>
